<%- include("partials/head.ejs") %>

<div class="container d-flex">
  <div
    class="col-6 d-flex flex-column justify-content-center px-md-4 px-2"
    style="height: 100svh"
  >
    <% if (locals.name) { %>
    <h1 class="display-4 text-start">Welcome, <%= locals.name %>. 👋</h1>
    <p class="lead text-start text-muted">Please feel free to write a blog post below.</p>
    <% } else { %>
    <h1 class="display-4 text-start">🔥post bro! Let's hear another.</h1>
    <p class="lead text-start text-muted">Write another blog post below.</p>
    <% } %>

    <form class="input-group" action="/blogged" method="POST">
      <textarea
        class="col-lg-11 col-10 form-control"
        name="blogPost"
        rows="3"
        placeholder="What's on your mind?"
        required
      ></textarea>
      <input class="col-lg-1 col-2 btn btn-primary" type="submit" value="🡆" />
    </form>
  </div>
  <div
    class="col-6 px-md-3 px-2 py-md-4 py-2 bg-light"
    style="height: 100svh; overflow-y: auto"
  >
  
  <% if (locals.blogs) { %>
    <% for (let i = 0; i < blogs.length; i++) { %>
      <div class="container d-flex justify-content-center gap-2" id="blog-post-<%= i + 1 %>">
        <p class="col-lg-11 col-md-10 col-9 p-3 rounded-3 bg-primary text-light"><%= blogs[i] %></p>
        <button class="col-lg-1 col-md-2 col-3 mb-3 btn btn-danger color-light" type="button" onclick=<% deleteBlog> %>>✕</button>
      </div>
    <% } %>
  <% } else { %>
    <p class="p-3 border rounded-3 border-dark text-dark">Your blogs will appear here.</p>
  <% } %>
  </div>
</div>