<%- include("partials/head.ejs") %>

<div class="d-flex container">
  <div
    class="px-md-4 px-sm-2 px-1 col-6 d-flex flex-column justify-content-center"
    style="height: 100svh"
  >
    <% if (locals.name) { %>
    <h1 class="display-4 text-start">Welcome, <%= locals.name %>. 👋</h1>
    <p class="lead text-start text-muted">Please feel free to write a blog post below.</p>
    <% } else { %>
    <h1 class="display-4 text-start">🔥post bro! Let's hear another.</h1>
    <p class="lead text-start text-muted">Write another blog post below.</p>
    <% } %>

    <form class="input-group" action="/blogged" method="POST">
      <textarea
        class="col-md-11 form-control"
        name="blogPost"
        rows="3"
        placeholder="What's on your mind?"
        required
      ></textarea>
      <input class="col-md-1 btn btn-primary" type="submit" value="🡆" />
    </form>
  </div>
  <div
    class="mx-md-4 py-md-4 mx-sm-2 py-md-4 mx-1 col-6 bg-light"
    style="height: 100svh; overflow-y: auto"
  >
  
  <% if (locals.blogs) { %>
    <% for (let i = 0; i < blogs.length; i++) { %>
      <p class="mx-4 p-4 bg-primary rounded-3 text-light" id="blog-post-<%= i + 1 %>"><%= blogs[i] %></p>
    <% } %>
  <% } else { %>
    <p class="mx-4 p-4 border border-dark rounded-3 text-dark">Your blogs will appear here.</p>
  <% } %>
  </div>
</div>