@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 950px;
  font-family: 'Lato', serif;
  background: linear-gradient(#d0d6d9, #b1b4ba);
  color: #d9e2f1;
}

header {
  padding: 75px 0;
  text-align: center;
}

header img {
  width: 5rem;
  border-radius: 50%;
  border: 2px solid #758a8a;
  filter: drop-shadow(0 0 4px rgba(31, 42, 42, 0.5));
}

header h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  color: #2f4444;
  margin: 25px 0 0 0;
}

form {
  width: 90%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 50px;
  border-radius: 15px;
  background: linear-gradient(180deg, #253c3c, #1d4949);
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #9bafaf;
  text-transform: uppercase;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #869999;
  color: #1d4949;
}

input:hover,
select:hover {
  background-color: #9BAFAF;
}

input:focus,
select:focus {
  outline: none;
  background-color: #9BAFAF;
}

.register-button {
  background-color: #147B73;
  color: #D9E2F1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 75px;
}

.register-button:hover {
  background-color: #319890;
}