body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

select, input {
  height: 48px;
  border: 3px solid black;
  padding: 0 5px;
}

button, .button {
  padding: 15px 0;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: black;
}

.wide {
  width: 100px;
}

.normal {
  width: 75px;
}

.narrow {
  width: 50px;
}

.inactive {
  background-color: rgb(199, 199, 199);
  cursor: unset;
}

#button-container {
  max-width: 750px;
  display: flex;
}

#button-container,
#button-container * {
  width: 100%;
}

#random {
  background-color: #3498db;
}

#all {
  background-color: #2ecc71;
}

#response-area {
  background-color: white;
  padding: 50px;
  max-width: 750px;
}

#response-grid {
  display: grid;
  gap: 30px;
}

#entries_amount {
  font-size: 20px;
  margin-bottom: 15px;
}

#entries {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stats {
  display: flex;
  gap: 50px;
  margin-bottom: 15px;
  color: rgb(150, 150, 150);
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(225, 225, 225);
}

.timestamp {
  display: flex;
  gap: 10px;
}

.entry {
  border: 1.5px solid rgb(245, 245, 245);
  padding: 15px;
}

.entry > h1 {
  margin-bottom: 5px;
}

.entry > p {
  font-size: 20px;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#button-random {
  width: 100%;
}

.controls-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.controls-label {
  font-size: 16px;
  color:rgb(199, 199, 199);
}

#page-controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

#counter {
  width: 20px;
  text-align: center;
}

#filter-submit {
  display: flex;
  align-items: center;
  gap: 5px;
}

#filter-input {
  padding-left: 15px;
  width: 80px;
}

#filter-select-input {
  width: 140px;
}

@media screen and (max-width: 750px) {
  #response-area {
    padding: 25px;
  }
  
  #controls {
    flex-direction: column;
  }
}

@media screen and (max-height: 1100px) {
  #button-container {
    gap: 0;
    margin-bottom: 0;
  }
}