body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
}

#button-container {
  display: flex;
  gap: 25px;
  margin-bottom: 50px;
}

#noAuth {
  background-color: #3498db;
}

#basicAuth {
  background-color: #2ecc71;
}

#apiKey {
  background-color: #f1c40f;
}

#bearerToken {
  background-color: #e74c3c;
}

.response-area {
  background-color: white;
  padding: 50px;
  width: 750px;
}

.response-grid {
  display: grid;
  grid-template-rows: 600px fit-content(100%);
}

.entries {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.entry {
  border: 1.5px solid rgb(245, 245, 245);
  padding: 15px;
}

.entry > h1 {
  margin-bottom: 5px;
}

.stats {
  display: flex;
  gap: 50px;
  margin-bottom: 25px;
  color: rgb(150, 150, 150);
}

.timestamp {
  display: flex;
  gap: 10px;
}

.entry > p {
  font-size: 20px;
}

#page-controls {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.change-page {
  background-color: black;
}

.change-page-inactive {
  background-color: rgb(199, 199, 199);
  cursor: unset;
}